<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/mainStyle.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/syntax.css">
    


    <link rel="shortcut icon" href="https://i7.pngflow.com/pngimage/914/758/png-computer-icons-logo-github-github-logo-logo-computer-program-computer-wallpaper-black-clipart.png" type="image/vnd.microsoft.icon" />

      
  </head>

  <body>
    <nav>
<ul>
<li><a href="{{site.baseurl}}/">Home</a></li>
<li><a href="{{site.baseurl}}/about">About</a></li>
<li><a href="{{site.baseurl}}/cv">CV</a></li>
<li><a href="{{site.baseurl}}/projects">Projects</a></li>
<!-- <li><a href="{{site.baseurl}}/blog">Blog</a></li> -->


</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:b4tu@pm.me">e-mail</a></li>
   </ul>
  </footer>

  
  
  </body>

</html>
